/* FONTS */
@font-face {
    font-family: "ExocetLight";
    src: url("./fonts/ExocetLight.ttf");}
@font-face {
    font-family: "ExocetHeavy";
    src: url("./fonts/ExocetHeavy.ttf");}

/* GENERAL SETTINGS */
html {
    font-size: clamp(0.25rem, -0.1333rem + 6.1333vw, 6rem);}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* max-width: 100vw;
    height: 100vw; */
    background: #570404 url(./images/background-images/body-background.jpg) repeat-y top;
    background-size: cover;
    color: #fff;
    text-align: center;
}
a {
    text-decoration: none;}

/* HEADER */
header {
    background: #000 url(./images/background-images/background-image-nav.png) no-repeat center;
    background-size: cover;
    width: 100%;
    margin-bottom: 0.5rem;
    box-shadow: 0 0.3rem 1rem #000;
    overflow: auto;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-areas: ". n n n n n n n n n n n n n n .";
    /* align-items: center; */
    z-index: 10;
    position: sticky;
}
nav {
    grid-area: n;
    width: 100%;
    display: inline-flex;
    justify-content: center;

}
header ul {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    list-style-type: none;
    /* flex-wrap: wrap; */
    margin: 0;
    padding: 0;}
header li {
    font-size: clamp(3px, 1.5vw, 14px);
    width: 10vw;
    font-family: 'ExocetLight';
    text-transform: uppercase;
    color: #fff;
    border-width: 0.05rem;
    border-style: solid;
    border-image: linear-gradient(90deg, #4d0d0b, #c41812,#4d0d0b) 1;
    outline: 0.06rem double #95764C;
    padding: 0.05rem;
    margin: 0.25rem 0.125rem;
    background: linear-gradient(90deg,#4d0d0b, #69120f);
    box-shadow: 0 0.1rem 0.3rem #000;
    text-shadow: 0.025rem 0.025rem rgb(255 255 255 / 25%);
    cursor: pointer;
}
header li:hover {
    background: linear-gradient(90deg,#350908, #2b0403);
    border-image: linear-gradient(90deg, #660b05, #c41212,#660b05) 1;
    outline: 0.15rem double #d1a567;
    font-weight: bold;}

/* MAIN */
main {
    margin: 3vw 0;
    padding: 0;
    width: 100vw;
    height: 50vw;
    background-image: url(./images/background-images/home-main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main h1 {
    font-family: 'ExocetLight';
    text-transform: uppercase;
    font-size: clamp(24px, 4vw, 64px);
    border-image: url(./images/frames/h1-border-frame.png);
    border-image-slice: 370 0 140 0;
    border-image-repeat: stretch;
    border-image-width: 11vw 33vw 8vw;
    border-style: solid;
    margin: 0;
    padding: 7vw 0 5vw;
    /* height: 70%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); */

}
/* FOOTER */
footer {
    height: 2rem;
    margin: 0;
    padding: 0;
    background: #000 url(./images/background-images/background-image-nav.png) no-repeat center;
    background-size: cover;
    box-shadow: 0rem -0.3rem 1rem #000;
    width: 100%;
    display: inline-flex;
    z-index: 5;
    position: relative;
    bottom: 0;
    left: 0;
}
