
/* General Settings */
*, *::before, *::after {
    box-sizing: border-box;}
html {
    font-size: 16px;
    margin: 0;
    padding: 0;}

/* FONTS */
@font-face {
    font-family: "ExocetLight";
    src: url("./fonts/ExocetLight.ttf");}
@font-face {
    font-family: "ExocetHeavy";
    src: url("./fonts/ExocetHeavy.ttf");}

/* MAIN */
body {
    background-image: url("./images/background-images/old-forrest-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b c";
    place-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    grid-area: b;
    width: 98%;
    height: 90%;
}

h1 {
    color: #fff;
    font-family: 'ExocetLight';
    text-transform: uppercase;
    font-size: 4vw;
    border-image: url(./images/frames/h1-border-frame.png);
    border-image-slice: 360 0 213 0;
    border-image-repeat: stretch;
    border-image-width: 19vw 0vw 13vw;
    border-style: solid;
    margin: 3vw;
    padding: 6vw 0 2vw;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}
li {
    font-size: 1.5vw;
    width: 15vw;
    font-family: 'ExocetLight';
    text-transform: uppercase;
    color: #fff;
    border-width: 0.3vw;
    border-style: solid;
    border-image: linear-gradient(90deg, #4d0d0b, #c41812,#4d0d0b) 1;
    outline: 0.3vw double #4d3b24;
    padding: 0.25vw 1vw;
    margin-bottom: 1vw;
    background: linear-gradient(90deg,#4d0d0b, #69120f);
    box-shadow: 0 0.1rem 0.3rem #000;
    text-shadow: 0.025rem 0.025rem rgb(255 255 255 / 25%);
    cursor: pointer;
}
li:hover {
    background: linear-gradient(90deg,#350908, #2b0403);
    border-image: linear-gradient(90deg, #660b05, #c41212,#660b05) 1;
    outline: 0.5vw double #d1a567;
    font-weight: bold;}
a {
    color: #fff;
    font-family: "ExocetLight";
    text-transform: uppercase;
    text-decoration: none;
}
#menu-background {
    position: fixed;
    top: 3.5vw;
    left: 34vw;
    z-index: -1;
    width: 33vw;
}
