/* FONTS */
@font-face {
    font-family: "ExocetLight";
    src: url("./fonts/ExocetLight.ttf");}
@font-face {
    font-family: "ExocetHeavy";
    src: url("./fonts/ExocetHeavy.ttf");}

/* GENERAL SETTINGS */
html {
    font-size: clamp(16px, 3vw, 32px);
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* max-width: 100vw;
    height: 100vw; */
    background: #570404 url(./images/background-images/body-background.jpg) repeat-y top;
    background-size: cover;
    color: #fff;
    text-align: center;
}
    
a {
    text-decoration: none;}

/* HEADER */
header {
    background: #000 url(./images/background-images/background-image-nav.png) no-repeat center;
    background-size: cover;
    width: 100%;
    margin-bottom: 0.5rem;
    box-shadow: 0 0.3rem 1rem #000;
    overflow: auto;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-areas: ". n n n n n n n n n n n n n n .";
    /* align-items: center; */
    z-index: 10;
    position: sticky;
}
nav {
    grid-area: n;
    width: 100%;
    display: inline-flex;
    justify-content: center;

}
header ul {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    list-style-type: none;
    /* flex-wrap: wrap; */
    margin: 0;
    padding: 0;}
header li {
    font-size: clamp(3px, 1.5vw, 14px);
    width: 10vw;
    /* display: inline-flex; */
    font-family: 'ExocetLight';
    text-transform: uppercase;
    color: #fff;
    border-width: 0.15rem;
    border-style: solid;
    border-image: linear-gradient(90deg, #4d0d0b, #c41812,#4d0d0b) 1;
    outline: 0.1rem double #95764C;
    padding: 0.25rem;
    margin: 0.5rem 0.25rem;
    background: linear-gradient(90deg,#4d0d0b, #69120f);
    box-shadow: 0 0.1rem 0.3rem #000;
    text-shadow: 0.05rem 0.05rem rgba(255, 255, 255, 0.25);
    cursor: pointer;
}
header li:hover {
    background: linear-gradient(90deg,#350908, #2b0403);
    border-image: linear-gradient(90deg, #660b05, #c41212,#660b05) 1;
    outline: 0.15rem double #d1a567;
    font-weight: bold;}

/* MAIN */
main {
    margin: 0;
    padding: 0;
}

/* FOOTER */
footer {
    height: 2rem;
    margin: 0;
    padding: 0;
    background: #000 url(./images/background-images/background-image-nav.png) no-repeat center;
    background-size: cover;
    box-shadow: 0rem -0.3rem 1rem #000;
    width: 100%;
    display: inline-flex;
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: 0;
}
